*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/* Style the header */
nav {
    height: 110px;
    background-color: #ededed;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 10;
  }
  
  /* Page content */
.app__body{
    margin-top: 20px;
    background-color: #ffffff;
    height:170vh;
    object-fit: contain;

}

#app__headerImage{
    margin-left:20px;
}

.app__bodySolidTop{
    background-color: #42bd45;
    height:170px;

}

.app_bodyWave{
    z-index: 1;
}
.checkbox{
    margin-left:100px;
}

nav ul {

    float:right;
    margin-right:20px;
margin-top: 15px;}

nav ul li{
    display: inline-block;
      line-height: 80px;
      margin:0 5px;
}

nav ul li a.b{color:black;}
nav ul li a.b, nav ul li a.active{
    
    font-size:17px;
    text-transform: uppercase;
    padding: 10px 13px;
    border-radius: 3px;
      
}
b.active{text-decoration: none;
    color: white;
    
    background: #37c844;
    transition: 0.5s;
    
}
a.b:hover,b.active:hover{text-decoration: none;
    color: white;
    
    background: #37c844;
    transition: 0.5s;
}