<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <form method="POST">
        <div class="inp" >
            
            <select id="knk" name="knk">
                <option value="abc">ABC</option>
                <option value="def">DEF</option>

            </select>
            
            
        </div>
        <div class="inp" >
            
            <input type="text" name="name">
            
            
        </div>
        <button type="submit">Submit</button>
    </form>
    </body>
</html>